# Virtual environment
venv/

# API keys
.env

# Data files (too large for git)
data/raw/
data/chroma_db/
data/models/
*.db
*.pdf
*.mp3
*.wav
*.mp4

# Python cache
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Notebooks
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Weights & Biases
wandb/